@model ExpenseLog.Models.ExpenseEntity

@{
    ViewBag.Title = "Delete";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Delete Expense Entity</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ExpenseEntityName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseEntityName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpenseEntityDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseEntityDescription)
            </dd>

        </dl>



        <hr />
        <div class="form-row">
            <div class="col input-group-sm">
                <div class="col-md-offset-2 col-md-10">
                    <!-- Submit Button -->
                    <input type="submit" value="Delete" class="btn btn-outline-primary btn-sm" />
                    <!-- Cancel Button -->
                    @Html.ActionLink("Cancel", "Index", "ExpenseEntity", null, new { @class = "btn btn-outline-primary btn-sm" })
                </div>
                @Html.ValidationMessageFor(model => model.ExpenseEntityName, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>
