@model IEnumerable<ExpenseLog.Models.ExpenseType>

@{
                /**/

                ViewBag.Title = "ExpenseTypes";
}

<h4>Expense Types</h4>



    <table class="table table-striped table-bordered table-hover table-sm" id="table1" name="table1" style="width:100%">
            <tr style="color:dodgerblue">
                <th style="width:10px">

                    @Html.ActionLink("+", "Create", "ExpenseType", null, new { @class = "btn btn-outline-primary btn-sm", title = "New Type" })
                </th>
                <th>
                    @Html.DisplayName("Expense Type")
                </th>


            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <!-- Edit Button -->
                        @Html.ActionLink("[]", "Edit", "ExpenseType", new { id = item.ID }, new { @class = "btn btn-outline-primary btn-sm", title = "Edit Type" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                </tr>
            }
    </table>

@section Scripts {

    @Scripts.Render("~/Scripts/custom/customscripts.js")

}
